.MuiToolbar-root {
  background-color: white;
}

.MuiTypography-root {
  color: black;
}

a.MuiTypography-colorPrimary {
  color: black;
  font-weight: bold;
  /* font-size: 20px; */
}

button.MuiButton-root:hover {
  background-color: white;
}

.MuiIconButton-root:active {
  border: none;
}

@media screen and (max-width: 500px) {
  iframe {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 992px) {
  #buttons {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #iconButton {
    display: none;
  }
}
