.MuiToolbar-root {
  background-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(233, 232, 229);
}

#buttons {
  font-size: 16px;
}

.MuiTypography-root {
  color: black;
}
a.MuiTypography-colorPrimary {
  color: black;
  font-weight: bold;
  /* font-size: 20px; */
}

button.MuiButton-root:hover {
  background-color: white;
}

a.MuiIconButton-root:active {
  border: none;
}

.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fas.fa-tree {
  margin-left: 20px;
  color: rgb(18, 93, 55);
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  iframe {
    width: 400px;
    height: 250px;
  }
  /* h2.MuiTypography-root {
    font-size: 30px;
  } */
}

@media screen and (max-width: 992px) {
  #buttons {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #iconButton {
    display: none;
  }
}

button#iconButton.MuiButtonBase-root.MuiIconButton-root.makeStyles-menuButton-6 {
  outline: none;
}
