.MuiToolbar-root {
  background-color: white;
}

.MuiTypography-root {
  color: black;
}

a.MuiTypography-colorPrimary {
  color: black;
  font-weight: bold;
  /* font-size: 20px; */
}

button.MuiButton-root:hover {
  background-color: white;
}

.slide-container {
  width: 70%;
  margin: auto;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: scale-down;
  background-repeat: no-repeat;
  height: 300px;
}

@media screen and (max-width: 500px) {
  iframe {
    width: 400px;
    height: 250px;
  }
}
